.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.container {
	.back {
		display: block;
		padding-top: 23px;
		padding-bottom: 23px;
		font-size: 14px;
		opacity: .5;
	}

	ul.posts {
		list-style-type: none; 
		padding: 0;

		li {
			overflow: hidden;
    		white-space: nowrap;
    		text-overflow: ellipsis;
		}
	}
}