<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <header class="masthead">
        <div class="container">
          <label for="sidebar-checkbox" class="sidebar-toggle"></label>

          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>
              Hi! I'm <a href="https://twitter.com/devonsteroids">@devonsteroids</a>. 
              I want to help you build better software.
            </small>
          </h3>

          <nav class="top">
            <ul>
              <li>
                <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a>
              </li>
              <li>
                <a href="{{ '/products' | prepend: site.baseurl | prepend: site.url }}">Products</a>
              </li>
              <li>
                <a href="{{ '/newsletter' | prepend: site.baseurl | prepend: site.url }}">Newsletter</a>
              </li>
              <li>
                <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">Consulting</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>

      <div class="container content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
